<a href="https://colab.research.google.com/github/Hassan-jr/Tensorflow-Deep-Learning/blob/main/02_classification_tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Binaray Classification

In [5]:
 import tensorflow as tf
 from sklearn.datasets import make_circles
 import numpy as np
 import pandas as pd
 import matplotlib.pyplot as plt

In [7]:
n_samples = 1000
X,Y = make_circles(n_samples,
                   noise=0.03,
                   random_state=42)
pd.DataFrame(X,Y)

           0         1
1   0.754246  0.231481
1  -0.756159  0.153259
1  -0.815392  0.173282
1  -0.393731  0.692883
0   0.442208 -0.896723
..       ...       ...
0   0.244054  0.944125
0  -0.978655 -0.272373
1  -0.136900 -0.810012
0   0.670362 -0.767502
0   0.281057  0.963824

[1000 rows x 2 columns]